.container {
  @apply absolute top-8 right-8 z-10;
}

.button {
  @apply flex justify-center items-center w-40;

  & svg {
    @apply mr-2;
  }
}

@media screen and (max-width: 720px) {
  .container {
    @apply right-0 top-auto bottom-10 flex justify-center w-full;
  }
}
