.modal {
  @apply fixed top-0 bottom-0 left-0 right-0 w-full z-50 flex items-center justify-center bg-black bg-opacity-40 animate-[OpacityUp_0.2s_forwards];

  &.delete {
    @apply animate-[OpacityDown_0.2s_forwards];
  }
}

.background {
  @apply flex flex-col w-full max-h-[calc(100vh-1rem)] my-0 mx-4 bg-white rounded-3xl relative max-w-[calc(420px+1rem)] animate-[SlideTop_0.4s_forwards];

  &::-webkit-scrollbar {
    @apply w-0;
  }

  &.delete {
    @apply animate-[SlideBottom_0.4s_forwards];
  }
}

.header {
  @apply relative flex items-center justify-between p-8;
}

.close {
  @apply cursor-pointer z-10 flex justify-center items-center;

  & svg {
    @apply stroke-slate-400 transition;
  }

  &:hover {
    & svg {
      @apply stroke-slate-900;
    }
  }
}

.container {
  @apply mt-4 mb-2;
}

.title {
  @apply font-mont text-lg font-medium text-slate-900;
}

.body {
  @apply pb-8;

  &.default {
    @apply pb-0;
  }
}

.content {
  @apply px-8;
}

.footer {
  @apply p-8;
}

@media screen and (max-width: 720px) {
  .modal {
    @apply items-end;
  }

  .background {
    @apply m-0 max-w-full max-h-[90%] overflow-auto rounded-br-none rounded-bl-none animate-none;

    &.delete {
      @apply animate-none;
    }
  }

  .body {
    @apply grow;
  }
}

@keyframes OpacityUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes OpacityDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes SlideTop {
  0% {
    margin-bottom: 15%;
  }

  75% {
    margin-bottom: 0;
  }
}

@keyframes SlideBottom {
  0% {
    margin-top: 0;
  }

  75% {
    margin-bottom: 15%;
  }
}
