.input {
  @apply border border-gray-300 font-mont text-gray-900 text-sm rounded-xl w-full py-2 px-3 outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;

  &:focus {
    @apply ring-blue-500 border-blue-500 dark:ring-blue-500 dark:border-blue-500;
  }

  &.error {
    @apply bg-red-50 border-red-500 text-red-900 placeholder-red-700 dark:bg-gray-700 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500;

    &:focus {
      @apply ring-red-500 border-red-500;
    }
  }
}
