.button {
  @apply font-mont font-medium text-sm text-center px-8 py-2.5 bg-transparent text-slate-900 rounded-2xl transition;

  &:focus {
    @apply outline-none;
  }
}

.primary {
  @apply text-white bg-slate-900;

  &:hover {
    @apply bg-slate-800;
  }
}

.secondary {
  @apply bg-gray-100;

  &:hover {
    @apply bg-gray-200;
  }
}

.transparent {
  @apply p-0 text-left rounded-none;

  &:hover {
    @apply text-blue-500;
  }
}

.light {
  @apply bg-white border border-gray-200 shadow-sm;

  &:hover {
    @apply bg-gray-50;
  }
}
