.sidebar {
  @apply w-full h-full bg-white shadow-lg max-w-[478px] min-w-[320px] absolute top-0 left-0 z-10 -translate-x-[110%] transition;

  &.active {
    @apply translate-x-0;
  }
}

.close {
  @apply bg-white w-12 aspect-square flex justify-center items-center absolute -right-12 top-7 rounded-br-lg rounded-tr-lg;

  &:hover {
    & svg {
      @apply stroke-blue-500;
    }
  }

  & svg {
    @apply stroke-slate-900 transition;
  }
}

@media screen and (max-width: 720px) {
  .sidebar {
    @apply max-w-full fixed;
  }

  .close {
    @apply right-4 z-20 rounded-lg;
  }
}
