.container {
  @apply flex relative w-full;

  &.error {
    @apply text-red-900;
  }
}

.element {
  @apply absolute top-0 bottom-0 font-mont text-sm font-medium flex items-center select-none pointer-events-none;

  &.postfix {
    @apply right-4;
  }

  &.suffix {
    @apply left-4;
  }
}
