.container {
}

.select {
  @apply relative;
}

.title {
  @apply inline-flex items-center justify-between rounded-xl font-mont text-sm py-2 px-3 min-w-[120px] w-full cursor-pointer border text-gray-900 bg-white border-gray-300 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600;

  &:hover {
    @apply bg-gray-100 dark:bg-gray-700 dark:border-gray-600;
  }

  &:focus {
    @apply outline-none ring-4 ring-gray-200 dark:ring-gray-700;
  }
}

.icon {
  @apply stroke-1 stroke-gray-900 rotate-180 ml-2 dark:stroke-white;
}

.menu {
  @apply absolute mt-2 z-40 p-1 rounded-xl w-full shadow bg-white border border-gray-200 dark:border-gray-300 dark:bg-gray-700;

  &::-webkit-scrollbar-track {
    @apply my-2;
  }

  &::-webkit-scrollbar {
    @apply w-2 rounded-2xl;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-2xl border-4 border-solid border-transparent bg-clip-content;
  }
}
