.container {
  @apply flex flex-col w-full min-w-[320px];
}

.image {
  @apply relative pb-[64%] block overflow-hidden w-full rounded-lg;

  & img {
    @apply absolute top-0 left-0 h-full w-full object-cover object-center transition;
  }

  &:after {
    @apply content-[''] absolute block rounded-lg border border-solid border-transparent inset-0 transition;
  }

  &:hover {
    & img {
      @apply scale-105;
    }

    &:after {
      @apply border-gray-900;
    }
  }
}

.content {
  @apply mt-4 font-sans flex flex-col items-start;
}

.information {
  @apply font-mont text-sm font-medium text-slate-900 cursor-pointer;
}

.price {
  @apply font-mont text-lg font-medium text-slate-900 mb-1;
}

.address {
  @apply font-mont text-sm font-normal text-gray-600;
}
