.container {
  @apply max-w-6xl m-auto px-6 my-16 relative grid gap-y-8 gap-x-8 grid-cols-[1fr_370px];
}

.loader {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.content {
  @apply flex gap-8 w-full;
}

.information {
}

.image {
  @apply relative pb-[64%] block overflow-hidden w-full rounded-lg;

  & img {
    @apply absolute top-0 left-0 h-full w-full object-cover object-center transition;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    @apply grid-cols-1 max-w-2xl;
  }

  .content {
    @apply mx-auto;
  }
}

@media screen and (max-width: 420px) {
  .image {
    @apply pb-[75%];
  }
}
