.container {
  @apply flex items-center;
}

.icon {
  @apply flex items-center justify-center rounded-lg h-12 aspect-square bg-slate-100;
}

.content {
  @apply ml-4;
}

.title {
  @apply font-mont text-xs font-normal text-gray-600;
}

.text {
  @apply font-mont text-lg font-medium text-slate-900;
}
