.container {
}

.subtitle {
  @apply mb-4 font-mont text-lg font-medium text-slate-900;
}

.description {
}

.items {
  @apply flex items-center justify-between;
}

.text {
  @apply font-mont text-sm font-normal text-gray-600 mt-8;
}

.icon {
  @apply stroke-slate-600;
}

@media screen and (max-width: 576px) {
  .items {
    @apply flex-wrap gap-4 justify-start;
  }
}
