@tailwind base;
@tailwind components;
@tailwind utilities;

// Mixin For Create Fonts

@mixin font($font_name, $file_name) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src:
      url('../fonts/#{$file_name}.woff2') format('woff2'),
      url('../fonts/#{$file_name}.woff') format('woff');
  }
}

@import '_fonts';
