.container {
  @apply absolute top-0 -left-1;
}

.inner {
}

.back {
  & svg {
    @apply stroke-slate-400 transition;

    &:hover {
      @apply stroke-slate-900;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    @apply fixed top-0 left-0 w-full h-auto bg-white shadow-sm z-30;
  }

  .inner {
    @apply max-w-2xl mx-auto px-4 py-2;
  }
}
