.container {
  @apply overflow-auto p-8 h-full;

  &::-webkit-scrollbar {
    @apply w-3;
  }
  &::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-xl border-2 border-solid border-gray-100;
  }
}

.title {
  @apply font-mont text-2xl font-medium text-slate-900 mb-8;
}

.items {
  @apply grid gap-y-8 grid-cols-1;
}

.card {
}

@media screen and (max-width: 576px) {
  .card {
    @apply min-w-full;
  }
}
