.container {
  @apply sticky top-8;
}

.information {
  @apply mb-1 font-mont text-lg font-medium text-slate-900;
}

.address {
  @apply mb-6 font-mont text-base font-normal text-gray-600;
}

.price {
  @apply mb-6 font-mont text-2xl font-medium text-slate-900;
}

.action {
}

.button {
  @apply w-full;
}

.phone {
}

@media screen and (max-width: 1024px) {
  .container {
    @apply relative top-auto;
  }

  .button {
    @apply max-w-[calc(672px-2rem)];
  }

  .price {
    @apply mb-0;
  }

  .action {
    @apply fixed bottom-0 left-0 w-full px-4 py-2 bg-white flex justify-center;
  }
}

@media screen and (max-width: 420px) {
  .phone {
    @apply hidden;
  }
}
